.answer {
  display: flex;
  height: 100px;
  margin: 10px;
  min-width: 500px;
  width: 50%;
  perspective: 1000px;
}

.answer__content {
  position: relative;
  display: flex;
  flex: 1;
}

.answer__content--revealed {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.answer__content.answer__content--revealed {
  transform: rotateY(180deg);
}

.answer__front {
  color: #000000;
  background-color: white;
  align-items: center;
  border-radius: 12px;
  padding: 15px;
}

.answer__back {
  transform: rotateY(180deg);
}

.answer__front,
.answer__back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.answer__back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.answer__correct {
  background-color: #2baa6d;
}

.answer__incorrect {
  background-color: #e44a4c;
}

.answer__correct .answer__value,
.answer__incorrect .answer__value {
  font-size: 1.5rem;
}

.answer__letter {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 15px;
}

.answer__value {
  font-size: 1.3rem;
  font-weight: 700;
}
